# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Файл .env необходимо добавитьт в .gitignore по соображениям безопасности

# API-ключи

API_KEY=your_api_key_here